@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "DELIRIUM NCV";
  src: url("/fonts/DELIRIUM NCV.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DELIRIUM NCVBold";
  src: url("/fonts/DELIRIUM NCVBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("/fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
}


.redhat {
  font-family: "Red Hat Display";
  /* font-size: xx-large; */
}

.delirium {
  font-family: "DELIRIUM NCV";
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-hr {
  height: 4px;
  background-color: gray;
  border: none;
  width: 100%;
}